@{
    ViewBag.Title = "Home Page";
}
<br /><br /><br /><br /><br />

<p align="center">
    <img src="~/Content/Template/assets/images/Menulamss.png" alt="" style="width: 800px; height: 800px" />
</p>