@model IEnumerable<TraSuaLamss.Models.SANPHAM>
@{
    ViewBag.Title = "Home Page";
}


<p align="center">
    <img src="~/Content/Template/assets/images/Menulamss.png" alt="" style="width: 800px; height: 800px" />
</p>
<p style="padding-top: 20px; font-size: 20px; color: #d18352" align="center"><b>MOT SO SAN PHAM</b></p>
<table align="center" style="padding-top:20px">
    <tr>
        <td>
            <a href="@Url.Action("Details","DSSANPHAM",new { id=1 })">
                <img src="~/Content/Template/assets/images/Menulamss.png" width="300" height="280" />
                <p style="font-size:16px"><span>Traf sua</span></p>
            </a>
        </td>
        <td>
            <a href="@Url.Action("Details","DSSANPHAM",new { id=1 })">
                <img src="~/Content/Template/assets/images/Menulamss.png" width="300" height="280" />
                <p style="font-size:16px"><span>Traf sua</span></p>
            </a>
        </td>
        <td>
            <a href="@Url.Action("Details","DSSANPHAM",new { id=1 })">
                <img src="~/Content/Template/assets/images/Menulamss.png" width="300" height="280" />
                <p style="font-size:16px"><span>Traf sua</span></p>
            </a>
        </td>
    </tr>
</table>
<p align="center"><a href="/GioiThieu/Index"><input type="button" value="Xem them" /></a></p>