@model IEnumerable<TraSuaLamss.Models.SanPham>

@{
    ViewBag.Title = "Home Page";
}


<p align="center">
    <img src="~/Content/Template/assets/images/Menulamss.png" alt="" style="width: 800px; height: 800px" />
</p>
<p style="padding-top: 20px; font-size: 20px; color: #d18352" align="center"><b>MỘT SỐ SẢN PHẨM</b></p>
<table align="center" style="padding-top:20px" cellpadding="50" border="1">
    <tr>
        <td>
            <a style="text-decoration: none;font-size:16px" href="@Url.Action("Details","DSSANPHAM",new { id="SP006", loai = "ML002" })">

                <img src="~/wwwroot/Images/TraTac.jpg" width="275" height="300" />
                <p style="font-size:16px;padding-left:5px;"><span>Trà tắc</span></p>
            </a>
        </td>
        <td>
            <a style="text-decoration: none;font-size:16px" href="@Url.Action("Details","DSSANPHAM",new { id="SP002", loai = "ML001" })">

                <img src="~/wwwroot/Images/TraSuaChanChau.jpg" width="275" height="300" />
                <p style="font-size:16px;padding-left:5px;"><span>Trà sữa trân châu</span></p>
            </a>
        </td>
        <td>
            <a style="text-decoration: none;font-size:16px" href="@Url.Action("Details","DSSANPHAM",new { id="SP005", loai = "ML002" })">

                <img src="~/wwwroot/Images/TraChanh.jpg" width="275" height="300" />
                <p style="font-size:16px;padding-left:5px;"><span>Trà chanh</span></p>
            </a>
        </td>
        <td>
            <a style="text-decoration: none;font-size:16px" href="@Url.Action("Details","DSSANPHAM",new { id="SP003", loai = "ML001" })">

                <img src="~/wwwroot/Images/TraSuaChanChauDuongDen.jpg" width="275" height="300" />
                <p style="font-size:16px;padding-left:5px;"><span>Trà sữa Trân châu đường đen</span></p>
            </a>
        </td>
    </tr>
</table>
<br />
<p align="center"><a href="/DSSanPham/Index"><input type="button" value="Xem thêm" /></a></p><br /><br />