
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.dropdown-item {
    font-size: 13px;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
    display: block;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}

p {
    font-size: 14px;
    line-height: 25px;
    color: #2a2a2a;
}


html,
body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: #fb5849;
    color: #fff;
}

::-moz-selection {
    background: #fb5849;
    color: #fff;
}

@media (max-width: 991px) {
    html, body {
        overflow-x: hidden;
    }

    .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .mobile-bottom-fix {
        margin-bottom: 30px;
    }

    .mobile-bottom-fix-big {
        margin-bottom: 60px;
    }
}


/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.background-header {
    background-color: #d18352;
    height: 120px !important;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15) !important;
}

    .background-header .logo,
    .background-header .main-nav .nav li a {
        color: #1e1e1e !important;
    }

    .background-header .main-nav .nav li:hover a {
        color: #fb5849 !important;
    }

    .background-header .nav li a.active {
        color: #fb5849 !important;
    }

.header-area {
    background-color: #d18352;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
}

    .header-area .search {
        width: 100%;
        position: relative;
        display: flex;
        margin-left: 50px;
    }


    .header-area .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
        position: absolute;
    }

    .header-area .search .width {
        width: 500px;
        margin-left: 300px;
    }

    .header-area .searchTerm:focus {
        color: #00B4CC;
    }

    .header-area .searchButton {
        width: 40px;
        height: 40px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-area .dndx {
    font-size: 13px;
    margin-left: 900px;
}

    .header-area.dndx a {
        font-size: 13px;
        color: black;
        text-decoration: none;
        text-transform: capitalize;
    }

.header-area .main-nav {
    height: 120px !important;
    background: transparent;
}

    .header-area .main-nav .logo {
        line-height: 100px;
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        float: left;
    }

.background-header .main-nav .logo {
    line-height: 75px;
}



.header-area .main-nav .nav {
    float: right;
    background-color: transparent;
}

    .header-area .main-nav .nav li {
        padding-left: 20px;
        padding-right: 20px;
    }

        .header-area .main-nav .nav li:last-child {
            padding-right: 0px;
        }

        .header-area .main-nav .nav li a {
            display: block;
            font-weight: 600;
            font-size: 15px;
            color: #2a2a2a;
            text-transform: capitalize;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            height: 40px;
            line-height: 40px;
            border: transparent;
            letter-spacing: 1px;
        }

        .header-area .main-nav .nav li a {
            color: #2a2a2a;
        }

            .header-area .main-nav .nav li:hover a,
            .header-area .main-nav .nav li a.active {
                color: #fb5849 !important;
            }

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
    color: #fb5849 !important;
    opacity: 1;
}

.header-area .main-nav .nav li.submenu {
    position: relative;
    padding-right: 30px;
}

    .header-area .main-nav .nav li.submenu:after {
        font-family: FontAwesome;
        content: "\f107";
        font-size: 12px;
        color: #2a2a2a;
        position: absolute;
        right: 18px;
        top: 12px;
    }

.background-header .main-nav .nav li.submenu:after {
    color: #2a2a2a;
}

.header-area .main-nav .nav li.submenu ul {
    position: absolute;
    width: 200px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    top: 50px;
    opacity: 0;
    transform: translateY(+2em);
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

    .header-area .main-nav .nav li.submenu ul li {
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

        .header-area .main-nav .nav li.submenu ul li a {
            opacity: 1;
            display: block;
            background: #f7f7f7;
            color: #2a2a2a !important;
            padding-left: 20px;
            height: 40px;
            line-height: 40px;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            position: relative;
            font-size: 13px;
            font-weight: 400;
            border-bottom: 1px solid #eee;
        }

            .header-area .main-nav .nav li.submenu ul li a:hover {
                background: #fff;
                color: #fb5849 !important;
                padding-left: 25px;
            }

                .header-area .main-nav .nav li.submenu ul li a:hover:before {
                    width: 3px;
                }

.header-area .main-nav .nav li.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 33px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.background-header .main-nav .menu-trigger {
    top: 23px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #1e1e1e;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
    content: "";
}

.header-area .main-nav .menu-trigger span {
    top: 16px;
}

    .header-area .main-nav .menu-trigger span:before {
        -moz-transform-origin: 33% 100%;
        -ms-transform-origin: 33% 100%;
        -webkit-transform-origin: 33% 100%;
        transform-origin: 33% 100%;
        top: -10px;
        z-index: 10;
    }

    .header-area .main-nav .menu-trigger span:after {
        -moz-transform-origin: 33% 0;
        -ms-transform-origin: 33% 0;
        -webkit-transform-origin: 33% 0;
        transform-origin: 33% 0;
        top: 10px;
    }

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
}

    .header-area .main-nav .menu-trigger.active span:before {
        -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
        -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
        -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
        transform: translateY(6px) translateX(1px) rotate(45deg);
        background-color: #1e1e1e;
    }

.background-header .main-nav .menu-trigger.active span:before {
    background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
    background-color: #1e1e1e;
}



.header-area .nav {
    margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
    color: #fb5849;
}




#top {
    padding-top: 100px;
}

    #top .col-lg-4,
    #top .col-lg-8 {
        padding: 0px;
    }

    #top .left-content {
        background-image: url(../images/top-left-bg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 100%;
    }

        #top .left-content .inner-content {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
        }

        #top .left-content h4 {
            font-family: 'Dancing Script', cursive;
            color: #fff;
            font-size: 54px;
            font-weight: 700;
        }

        #top .left-content h6 {
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 600;
            color: #fff;
            letter-spacing: 3px;
            margin-top: 5px;
        }

        #top .left-content .main-white-button {
            margin-top: 25px;
            margin-bottom: 10px;
        }

            #top .left-content .main-white-button a {
                display: inline-block;
            }

/* ==== Main CSS === */
.img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

    .img-fill img {
        min-height: 100%;
        min-width: 100%;
        position: relative;
        display: inline-block;
        max-width: none;
    }





section {
    min-height: 600px !important;
}

/* 
---------------------------------------------
footer
--------------------------------------------- 
*/

footer {
    padding: 50px 0px;
    background-color: #d18352;
}

    footer .left-text-content p {
        margin-top: 5px;
        color: #fff;
        font-size: 14px;
        text-align: right;
    }

    footer .right-text-content p {
        color: #fff;
        font-size: 14px;
        margin-right: 15px;
        text-transform: uppercase;
    }


    footer .right-text-content {
        text-align: left;
        margin-top: 5px;
    }

    footer .logo {
        text-align: center;
    }

    footer .right-text-content ul li {
        display: inline-block;
        margin-left: 15px;
    }

        footer .right-text-content ul li:first-child {
            margin-left: 0px;
        }


        footer .right-text-content ul li a {
            width: 44px;
            height: 44px;
            display: inline-block;
            text-align: center;
            line-height: 44px;
            font-size: 20px;
            background-color: #fff;
            border-radius: 50%;
            color: #fb5849;
            -webkit-transition: all 0.5s ease 0s;
            -moz-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
        }

            footer .right-text-content ul li a:hover {
                color: #2a2a2a;
            }
