
@{
    ViewBag.Title = "DatHangTC";
}
<style>
    body {
        padding-top: 180px;
        background-color: #e8e8e8;
    }
</style>
<body>
    <p style="text-align:center">
        <span style="font-family: Optima; font-size:30px;">@ViewBag.Message</span>
        <br />
        <a class="muahang" href="@Url.Action("Index", "DSSANPHAM")">Mua hàng tiếp</a>
    </p>
</body>

