
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br /><br /><br />

<style>
    .formgt {
        width: 75%;
        height: 800px;
        border: 5px solid brown;
        background-color: #c6a768;
        margin-left:250px;
    }
</style>
<body>
    <div class="formgt">
        <h2 align="center">Giới thiệu</h2>
        <p><h3><b>I.Trà sữa trân châu</b></h3></p>
        <p>1.Trà sữa trân châu hay trà sữa Đài Loan (珍珠奶茶; trân châu nãi trà) là thức uống được chế biến từ trà xanh hoặc trà đen được các cửa hàng đồ uống tại Đài Trung, Đài Loan phát triển từ những năm 1980[1]. Đặc điểm của trà sữa trân châu là khi bị lắc, một lớp bọt nước mỏng được tạo thành trên bề mặt. Do đặc điểm này, trà bong bóng được dùng để gọi bất kỳ loại trà nào được lắc trong khi chuẩn bị, ví dụ như các loại trà đường "Bào mạt hồng trà" (泡沫紅茶), "Bào mạt lục trà" (泡沫綠茶). Trà sữa trân châu nói chung được chia thành hai loại: trà tạo hương vị từ hoa quả hay trà sữa. Trà sữa có thể sử dụng các loại kem từ sữa hay không từ sữa. Có nguồn gốc từ Đài Loan, trà sữa trân châu đặc biệt phổ biến tại một số quốc gia châu Á như Trung Quốc, Hồng Kông, Thái Lan, Malaysia, Philippines, Việt Nam và Singapore. Loại đồ uống này cũng phổ biến tại châu Âu, Canada và Hoa Kỳ. Trà sữa trân châu cũng có thể để chỉ loại trà sữa nóng kiểu Quảng Đông pha với các hạt bột sắn.</p>
        <p>2.Các lá trà được lựa chọn tỉ mỉ này có hương vị độc đáo của hoa nhài và mùi thơm của trà xanh. Ngoài bề mặt mềm mại, nó cũng rất đậm đà với hương thơm của trà xanh. Trà xanh thường chú trọng vào chất lượng không giống như các sản phẩm có chất lượng kém hơn được bán trên thị trường thường bao gồm nhiều cành hơn lá. Vì vậy, cho dù họ pha chế như thế nào thì trà xanh vẫn thường có vị đắng, gắt và không có mùi thơm. Dingtea sử dụng những lá trà cao cấp từ các vùng núi cao nên lá trà rất to và đều nhau. Màu sắc của lá trà thường có màu xanh ngọc bích và màu xanh đen, trong khi nước cốt trà có màu trong do có sự kết hợp của màu xanh lá cây và hương thơm nhẹ. Trà chứa rất nhiều Catechin và vitamin C, vị của nó cũng không quá gắt và tạo ra được uy tín lớn.</p>
        <p>3.Công đoạn quan trọng nhất của trà Ô long là quá trình sao, nếu bị sao quá tay, nó sẽ có vị đắng và gắt. Nếu sao chưa tới, trà sẽ không có mùi vị. Sự cân bằng này chỉ có thể đạt được bởi một bậc thầy trong ngành trà, đây là một trong những công đoạn khó đòi hỏi sự khéo léo tỉ mỉ nhất trong tất cả các loại trà: Longjing, Baozhong, Dongding, Baihao and Tie Guan Yin. Trà Dingtea cũng tương tự như trà Baihao, nước cốt của chúng có màu hổ phách và đều có hương thơm độc đáo của trà Ô long. Nó cũng giữ được hương vị và được những người mộ trà ở Châu Âu và Mỹ khen ngợi là những lá trà mang đậm hương vị phương Đông.</p>
        <p><h3><b>II.Giới thiệu về Trà sữa LAMSS</b></h3></p>
        <p>Trà sữa LAMSS là thương hiệu trực thuộc Công ty Rikkei . Dự án trà sữa LAMSS là sản phẩm của nhóm thực tập sinh trường Đại Học Công Nghiệp Hà Nội tạo ra để phục vụ cho công việc kinh doanh bán trà sữa. Nhóm bao gồm 5 thành viên thực hiện lên ý tưởng và phát triển dự án  </p>
    </div>
</body>


