@model TraSuaLamss.Models.NHANVIEN

@{
    ViewBag.Title = "Details";
}

<h2 style="padding-left:2%">Thông tin chi tiết</h2>

<div>
    <h4 style="padding-left:2%">Nhân viên</h4>
    <hr />
    <dl class="dl-horizontal"   style="padding-left:10%">
        <dt>
            Mã nhân viên:
            @*@Html.DisplayNameFor(model => model.MaNV)*@
        </dt>

        <dd>
            &emsp;@Html.DisplayFor(model => model.MaNV)
        </dd>
        <br />
        <dt>
            Họ và Tên:
            @*@Html.DisplayNameFor(model => model.TenNV)*@
        </dt>

        <dd>
            &emsp;@Html.DisplayFor(model => model.TenNV)
        </dd>
        <br />
        <dt>
            Tên đăng nhập:
            @*@Html.DisplayNameFor(model => model.TAIKHOAN.Username)*@
        </dt>

        <dd>
            &emsp;@Html.DisplayFor(model => model.TAIKHOAN.Username)
        </dd>
        <br />
        <dt>
            Giới tính:
            @*@Html.DisplayNameFor(model => model.GioiTinh)*@
        </dt>

        <dd>
            &emsp;@Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <br />
        <dt>
            Ngày sinh:
            @*@Html.DisplayNameFor(model => model.NgaySinh)*@
        </dt>

        <dd>
            &emsp;@Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <br />
        <dt>
            Email:
            @*@Html.DisplayNameFor(model => model.Email)*@
        </dt>

        <dd>
            &emsp;@Html.DisplayFor(model => model.Email)
        </dd>
        <br />
        <dt>
            Địa chỉ:
            @*@Html.DisplayNameFor(model => model.DiaChi)*@
        </dt>

        <dd>
            &emsp;@Html.DisplayFor(model => model.DiaChi)
        </dd>
        <br />
        <dt>
            Điện thoại:
            @*@Html.DisplayNameFor(model => model.DienThoai)*@
        </dt>

        <dd>
            &emsp;@Html.DisplayFor(model => model.DienThoai)
        </dd>
        <br />
        <dt>
            Số tài khoản:
            @*@Html.DisplayNameFor(model => model.STK)*@
        </dt>

        <dd>
            &emsp;@Html.DisplayFor(model => model.STK)
        </dd>
        <br />
        <dt>
            Tiền Lương:
            @*@Html.DisplayNameFor(model => model.Luong)*@
        </dt>

        <dd>
            &emsp;@Html.DisplayFor(model => model.Luong)
        </dd>
        <br />
    </dl>
</div>
<p   style="padding-left:5%">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaNV }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
